<div class="leftColumn">
  <h3>HN At a Glance</h3>
  <div id="hn-graph" data-snapshots='<%= @snapshots_chart_data.to_json %>' data-names='<%= @term_names.to_json %>'></div>
</div>
<div class="rightColumn">
  <h3>Trending</h3>
  <dl id="trending">
    <% @keywords.each do |k| %>
      <dt><%= k.name %></dt>
    <dd>Latest: <%= k.latest_daily_count %></dd>
    <dd>Trend: <%= percentage(k.trend) %></dd>
  <% end %>
  </dl>
</div>
