<div id="hn-graph" data-keywords="<%= @keywords.to_json %>" data-names="<%= @keyword_names.to_json %>"></div>
<dl>
<% @keywords.each do |k| %>
  <dt><%= k.name %></dt>
  <dd>Counts: <%= k.stats.map(&:count) %></dd>
  <dd>Latest: <%= k.latest_count %></dd>
  <dd>Trend: <%= k.trend %></dd>
<% end %>
</dl>
